<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860665126566-cvi4pmo1f8m7vibkqd09jgor9kl35hsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860665126566-cvi4pmo1f8m7vibkqd09jgor9kl35hsc</string>
	<key>API_KEY</key>
	<string>AIzaSyDRF6O_QqflIkRNzc42XpGavqzlsYVixCY</string>
	<key>GCM_SENDER_ID</key>
	<string>860665126566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entreggue.entreggaCourier</string>
	<key>PROJECT_ID</key>
	<string>entregga-6d50c</string>
	<key>STORAGE_BUCKET</key>
	<string>entregga-6d50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860665126566:ios:247101b9ba2eb79a8b5e67</string>
</dict>
</plist>